.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.input-group-addon {
    background-color: transparent;
    color: #3560b7;
    border: 0;
    border-right: 1px solid #3560b7!important;
    margin-left: -2px;
}

.input-group {
    padding: 10px 5px;
    border: 1px solid #3560b7;
    border-radius: 3px;
    background-color: #fff;
}

.form-login {
    border: 0;
    background-color: transparent;
}

.button-login {
    width: 100%;
    height: 40px;
    font-size: 17px;
}

.errorSession {
    font-size: 13px;
    text-align: center;
    display: none;
    color: #fff;
    padding: 10px 5px 10px 6px;
    background-color: #c53636;
    border-radius: 5px;
    margin-bottom: 10px;
}